@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article{
	break-after: page;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

#dedication header{
	margin-bottom: 1em;
}

#dedication footer [epub|type~="z3998:valediction"]{
	text-indent: 5em;
	padding-right: 6em;
}

#dedication footer [epub|type~="z3998:valediction"] + [epub|type~="z3998:valediction"]{
	text-indent: 2em;
	padding-right: 3em;
}

#dedication footer [epub|type~="se:letter.dateline"]{
	text-align: left;
}

#dedication footer [epub|type~="se:letter.dateline"] p{
	text-indent: 0;
}

#dedication footer [epub|type~="se:letter.dateline"] p + p{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:poem"] footer{
	text-align: left;
}

[epub|type~="z3998:poem"] footer time{
	float: right;
}

#my-birthday header p{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}
