@namespace epub "http://www.idpf.org/2007/ops";

article{
	break-after: page;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] footer,
[epub|type~="z3998:song"] footer{
	text-align: initial;
}

[epub|type~="z3998:poem"] footer time,
[epub|type~="z3998:song"] footer time{
	float: right;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

p span.i4{
	text-indent: -1em;
	padding-left: 5em;
}

p span.i5{
	text-indent: -1em;
	padding-left: 6em;
}

p span.i6{
	text-indent: -1em;
	padding-left: 7em;
}

p span.i7{
	text-indent: -1em;
	padding-left: 8em;
}

p span.i8{
	text-indent: -1em;
	padding-left: 9em;
}

p span.i10{
	text-indent: -1em;
	padding-left: 11em;
}

p span.i12{
	text-indent: -1em;
	padding-left: 13em;
}

p span.i14{
	text-indent: -1em;
	padding-left: 15em;
}

p span.i16{
	text-indent: -1em;
	padding-left: 17em;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

table{
	margin: 1em auto;
}

table + p{
	text-indent: 0;
}

#dedication header{
	margin-bottom: 1em;
}

#dedication footer [epub|type~="z3998:valediction"]{
	text-indent: 2em;
	padding-right: 3em;
}

#dedication footer [epub|type~="z3998:valediction"] + [epub|type~="z3998:valediction"]{
	text-indent: 1em;
	padding-right: 2em;
}

#dedication footer [epub|type~="se:letter.dateline"]{
	text-align: initial;
}

#dedication footer [epub|type~="se:letter.dateline"] p{
	text-indent: 0;
}

#dedication footer [epub|type~="se:letter.dateline"] p + p{
	text-indent: -1em;
	padding-left: 2em;
}

#my-birthday section header p{
	margin: 1em;
	text-align: center;
}

#the-month-of-mary div header p{
	font-style: italic;
	margin: 1em;
	text-align: center;
}

#the-month-of-mary div > p{
	padding-left: 1em;
}

#the-month-of-mary div + p{
	margin-top: 1em;
}

#the-dream-of-gerontius div header p{
	margin: 1em;
	text-align: center;
}
